@charset "UTF-8";

body{
    background-color: bisque;
}

main{
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    width: 1000px;
    height: 500px;
    text-align: center;
}

td, th{
    border: 1px solid black;
}