@charset "UTF-8";

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 10px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.Produto{
    text-align: center;
}

tr:nth-child(even){
    background-color: lightgray;
}

div#Container{
    overflow-x: auto;
}