@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    position: relative;
    background-image: url('../assets/fundo-madeira.jpg');
    background-position: center center;
    height: 100vh;
}

#Phone{
    background-image: url('../assets/frame-iphone.png');
    background-repeat: no-repeat;

    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Icons img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
}

#Icons img:hover{
    transition: transform .5s;
    transform: scale(1.4) translate(-20px);
    border: 3px solid rgb(75, 255, 47);
}

#Icons img:not(:hover){
    transition: transform .5s;
}

#Icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
}

#iframs{
    position: relative;
    left: 22px;
    top: 80px;
    width: 266px;
    height: 472px;
}