@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --padrão: Verdana, Geneva, Tahoma, sans-serif;
    --header: 'Passion One', cursive;
    --txt: 'Sriracha', cursive;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

header h1{
    font-family: var(--header);
    font-size: 10vw;
    margin: 0;
    margin-top: 3vh;
    font-variant: small-caps;
}

header > p{
    font-family: var(--padrão);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.img{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 4px 4px 26px 0px rgba(0, 0, 0, 0.486);
}

#F1{
    background-image: url('imagens/background001.jpg');
}

#F2{
    background-image: url('imagens/background002.jpg');

}

.txt{
    color: #ffffff;
    padding: 2.5vw;
    background-color: rgba(0, 0, 0, 0.404);
    display: inline-block;
}

section p{
    font-size: 4vw;
    font-family: var(--txt), var(--padrão);
    line-height: 2em;
    margin-left: 2vw;
    padding-bottom: 2em;
}

section{
    margin-bottom: 10vh;
    margin-top: 10vh;
}

footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 2px;
    font-size: 1.2em;
}